.logoImg {
	padding-top: 15px;
	padding-right: 15px;
	width: 550px;
	max-width: 100%;
}
.links {
	background-color: #00b34a;
}
.content {
	margin-left: 15px;
}
.links h3 a {
	color: white;
	text-shadow: 1px 1px black;
}
.links h3 {
	text-align: center;
}
@media screen and (max-width: 768px) {
   .logoImg {
		padding-top: 15px;
		padding-right: 15px;
		width: 350px;
		max-width: 100%;
   }
}