.logoImg {
	padding-top: 15px;
	padding-right: 15px;
	width: 550px;
	max-width: 100%;
}
.links {
	background-color: #00b34a;
}
.content {
	margin-left: 15px;
}
.links h3 a {
	color: white;
	text-shadow: 1px 1px black;
}
.links h3 {
	text-align: center;
}
.links .dropdown {
	display: none;
}
@media screen and (max-width: 768px) {
	.logoImg {
		padding-top: 15px;
		padding-right: 15px;
		width: 350px;
		max-width: 100%;
	}
	.links .dropdown {
		display: initial;
	}
	.links .largeLink {
		display: none;
	}
	.linkSelector {
		width: 104%;
		background-color: #00b34a;
		color: white;
		text-shadow: 1px 1px black;
		border: none;
	}
	.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
		color: white;
		background-color: #00b34a;
		text-shadow: 1px 1px black;
		border: none;
	}
	.btn-secondary.focus, .btn-secondary:focus, .btn-secondary.hover, .btn-secondary:hover {
		color: white;
		background-color: #00b34a;
		text-shadow: 1px 1px black;
		border: none;
		box-shadow: none;
	}
	.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
		box-shadow: none;
	}
	.dropdown-menu.show {
		width: 100%;
		text-align: center;
	}
	.dropdown-item.active, .dropdown-item:active {
		color: white;
		background-color: #00b34a;
		text-shadow: 1px 1px black;
	}
}