.header {
	background: white;
}
.content {
	background: white;
}
.content h1, .content h2, .content h3 {
	color: #1999D1;
	font-weight: bold;
	text-shadow: 1px 1px #6A7174;
}
.content p, .content ul li {
	font-weight: bold;
}
.logoImg {
	padding-right: 15px;
	width: 100%;
	min-width: 120px;
}
.fullImg {
	width: 100%;
}
.links {
	background-color: #fff;
	height: 100%
}
.largeLink {
	display: flex;
    justify-content: flex-end;
    align-items: flex-end;
	padding-bottom: 28px;
    height: 100%;
}
.links span a{
	color: #1999D1;
	text-shadow: 1px 1px #6A7174;
	font-size: 28px;
}
.links span {
	text-align: center;
	padding: 10px;
}
.links .link a.selected {
	border-bottom: #0A589A solid 5px;
	padding-bottom: 3px;
}
.footer{
	margin-top: 25px;
}
.footer .links h1, .footer .links h2, .footer .links h3, .footer .links h4{
	text-align: left;
	padding: 10px 0px;
	color: #EAF9F8;
}
.footer .links p {
	color: #EAF9F8;
}
.footer .links {
	background-color: #063760;
}

.footer .links li{
	display: block;
}

.footer .links ul {
	padding-left: 5px;
	color: #EAF9F8;
	text-shadow: 1px 1px #6A7174;
}

.footer .links ul li a{
	color: #EAF9F8;
	font-weight: bold;
}
.footer .links ul li{
	padding: 10px 0px;
}

.footer .links .footerSection {
	margin: 5px 0px;
	border-right: #EAF9F8 solid 2px;
}
.footer .links .footerSection:last-child {
	border-right: none;
}

.fa-bars {
	color:#EAF9F8
}

.footer .fa-facebook-square, .footer .fa-instagram-square, .footer .fa-twitter-square, .footer .fa-envelope-square, .footer .fa-phone{
	color: #EAF9F8;
	margin-right: 10px;
	font-size: x-large;
	/*Fix issue where icon doesnt show up in edge*/
	display: inline-block !important;
}

.links .dropdown {
	display: none;
}

.banner {
	position: relative;
	padding: 0;
	margin-bottom: 25px;
}

.workExample {
	padding-top: 10px;
}
.workExample a {
	color: black;
	font-weight: bold;
}

@media screen and (max-width: 767px) {
	.links .dropdown {
		display: block;
		width: max-content;
		float: right;
	}
	.links .largeLink {
		display: none;
	}
	.linkSelector {
		width: 100%;
		background-color: #0A589A;
		color: #EAF9F8;
		text-shadow: 1px 1px black;
		border: none;
		text-align: left;
		font-size: x-large;
	}
	.footer .links .footerSection {
		margin: 5px 0px;
		border-bottom: white solid 2px;
		border-right: none;
	}
	.footer .links .footerSection .navigation li{
		padding: 10px 0px;
	}
	.footer .links .footerSection:last-child {
		border-bottom: none;
	}
	.footer .links .footerSection .socialContent li {
		padding: 10px 0px;
	}
	

	/*Mostly to overwrite bootstrap stuff*/
	.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
		color: white;
		background-color: #0A589A;
		text-shadow: 1px 1px black;
		border: none;
	}
	.btn-secondary.focus, .btn-secondary:focus, .btn-secondary.hover, .btn-secondary:hover {
		color: white;
		background-color: #0A589A;
		text-shadow: 1px 1px black;
		border: none;
		box-shadow: none;
	}
	.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
		box-shadow: none;
	}
	.dropdown-menu.show {
		width: 100%;
		text-align: center;
	}
	.dropdown-item {
		font-weight: bold;
		text-align: left;
		padding: 15px 10px;
	}
	.dropdown-item.active, .dropdown-item:active {
		color: white;
		background-color: #1999D1;
		text-shadow: 1px 1px black;
	}
}