<div class="links col-12">
	<div class="row justify-content-center">
		<div class="col-md-3 col-12 footerSection">
			<h2>
				Navigation
			</h2>
			<ul class="navigation">
				<li>
					<a href="./home">Home</a>
				</li>
				<li>
					<a href="./about-us">About us</a>
				</li>
				<li>
					<a href="./design">Design</a>
				</li>
				<li>
					<a href="./home">Construction</a>
				</li>
			</ul>
		</div>

		<div class="col-md-4 col-12 footerSection">
			<h2>
				Contact Us
			</h2>
			<ul class="contactContent">
				<li>
					<p><b>Email:</b> info@malassociates.co.uk</p>
				</li>
				<li>
					<p><b>Phone:</b> 020 3566 6726</p>
				</li>
			</ul>	
		</div>

		<div class="col-md-3 col-12 footerSection">
			<h2>
				Follow Us
			</h2>
			<ul class="socialContent">
				<li>
					<a href="https://www.facebook.com/malassociates/"><i class="fab fa-facebook-square"></i>on Facebook</a>
				</li>
			</ul>	
		</div>
	</div>	
</div>