<div class="links col-12">
	<div class="row justify-content-center">
		<div class="col-md-3 col-12 footerSection">
			<h2>
				Navigation
			</h2>
			<ul class="navigation">
				<li>
					<a href="./home">Home</a>
				</li>
				<li>
					<a href="./about-us">About us</a>
				</li>
				<li>
					<a href="./design">Design</a>
				</li>
				<li>
					<a href="./construction">Construction</a>
				</li>
			</ul>
		</div>

		<div class="col-md-4 col-12 footerSection">
			<h2>
				Contact Us
			</h2>
			<ul class="contactContent">
				<li>
					<a href="mailto:info@ksjliving.co.uk"><i class="fas fa-envelope-square"></i> info@ksjliving.co.uk</a>
				</li>
				<li>
					<a href="tel:+442035666726"><i class="fas fa-phone"></i> +44 20 3566 6726</a>
				</li>
			</ul>	
		</div>

		<div class="col-md-3 col-12 footerSection">
			<h2>
				Follow Us
			</h2>
			<ul class="socialContent">
				<li>
					<a href="https://www.facebook.com/malassociates/"><i class="fab fa-facebook-square"></i>on Facebook</a>
				</li>
				<li>
					<a href="https://www.instagram.com/candidlivingldn/"><i class="fab fa-instagram-square"></i>on Instagram</a>
				</li>
				<li>
					<a href="https://twitter.com/candidlivingldn"><i class="fab fa-twitter-square"></i>on Twitter</a>
				</li>
			</ul>	
		</div>
	</div>	
</div>