<div class="imageCol">
	<picture>
		<source media="(max-width:768px)" srcset="./images/ksj_mobile.png">
		<img src="./images/ksj_main.png" alt="ksj living logo">
	</picture>
</div>
<div class="linksCol">
	<nav class="links">
		<div class="largeLink">
			<div class="link">
				<span>
					<a class="home" href="./home">Home</a>
				</span>
			</div>
			<div class="link">
				<span>
					<a class="about-us" href="./about-us">About us</a>
				</span>
			</div>
			<div class="link">
				<span>
					<a class="design" href="./design">Design</a>
				</span>
			</div>
			<div class="link">
				<span>
					<a class="construction" href="./construction">Construction</a>
				</span>
			</div>
		</div>	
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle linkSelector" type="button" id="dropdownMenuButton" title="navigation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-bars"></i>
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="./home">Home</a>
				<a class="dropdown-item" href="./about-us">About us</a>
				<a class="dropdown-item" href="./design">Design</a>
				<a class="dropdown-item" href="./construction">Construction</a>
			</div>
		</div>
	</nav>
</div>
<div id="mobile-title">
	<h1>Home</h1>
</div>