<div class="imageCol col-12">
	<img class="logoImg" src="../images/MAL Associates.jpg" alt="Mal Associates logo">
</div>
<nav class="links col-12">
	<div class="row largeLink">
		<div class="link col-md-3 col-12">
			<h3>
				<a href="./home">Home</a>
			</h3>
		</div>
		<div class="link col-md-3 col-12">
			<h3>
				<a href="./home">About us</a>
			</h3>
		</div>
		<div class="link col-md-3 col-12">
			<h3>
				<a href="./home">Design</a>
			</h3>
		</div>
		<div class="link col-md-3 col-12">
			<h3>
				<a href="./home">Contact us</a>
			</h3>
		</div>
	</div>	
	<div class="row dropdown">
		<button class="btn btn-secondary dropdown-toggle linkSelector" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Home
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="./home">Home</a>
			<a class="dropdown-item" href="./home">About us</a>
			<a class="dropdown-item" href="./home">Design</a>
			<a class="dropdown-item" href="./home">Contact us</a>
		</div>
	</div>
</nav>
