<div class="imageCol col-12">
	<img class="logoImg" src="../images/candid-logo-test-2.jpg" alt="candid living logo">
</div>
<nav class="links col-12">
	<div class="row largeLink">
		<div class="link col-md-3 col-12">
			<h3>
				<a class="home" href="./home">Home</a>
			</h3>
		</div>
		<div class="link col-md-3 col-12">
			<h3>
				<a class="about-us" href="./about-us">About us</a>
			</h3>
		</div>
		<div class="link col-md-3 col-12">
			<h3>
				<a class="design" href="./design">Design</a>
			</h3>
		</div>
		<div class="link col-md-3 col-12">
			<h3>
				<a class="construction" href="./construction">Construction</a>
			</h3>
		</div>
	</div>	
	<div class="row dropdown">
		<button class="btn btn-secondary dropdown-toggle linkSelector" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Home
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="./home">Home</a>
			<a class="dropdown-item" href="./about-us">About us</a>
			<a class="dropdown-item" href="./design">Design</a>
			<a class="dropdown-item" href="./construction">Construction</a>
		</div>
	</div>
</nav>
